# Dependencies
node_modules/
package-lock.json

# Private configuration files & keys
firebase-key.json
.env
*.pem
*.key
*.pub
*_deploy_key*
id_*

# Python cache
__pycache__/
*.pyc

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
